In [4]:
from sklearn.ensemble import AdaBoostClassifier

In [6]:
from sklearn import datasets

In [12]:
from sklearn.model_selection import train_test_split

In [14]:
from sklearn import metrics

In [15]:
import pandas as pd
df = pd.read_csv('Iris.csv')

In [16]:
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [23]:
from sklearn import preprocessing
l = preprocessing.LabelEncoder()

In [24]:
df['Species'] = l.fit_transform(df['Species'])

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x = df.iloc[:,0:5]
y = df.iloc[:,5]

In [27]:
y

0      0
1      0
2      0
3      0
4      0
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 150, dtype: int32

In [29]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.3,random_state = 42)

In [31]:
abc = AdaBoostClassifier(n_estimators= 100,learning_rate = 0.1)

In [32]:
model= abc.fit(x,y)

In [33]:
y_pred = model.predict(x_test)

In [34]:
y_pred

array([1, 0, 2, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 0, 1, 2, 1, 1, 2, 0, 2,
       0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1, 1, 0,
       0])

In [37]:
print(metrics.accuracy_score(y_test,y_pred))

1.0